<!-- require 'pry' -->
<h1>Make your form here</h1>
<form action="/pirates" method="POST">
  <li>Pirate Name: <input type="text" name=pirate[name]></li>
  <li>Pirate Weight: <input type="text" name=pirate[weight]></li>
  <li>Pirate Height: <input type="text" name=pirate[height]></li>
  <li>Ship Name: <input type="text" id="ship_name_1" name="pirate[ships][][name]"></li>
  <li>Ship Type: <input type="text" id="ship_type_1" name=pirate[ships][][type]></li>
  <li>Ship Booty: <input type="text" id="ship_booty_1" name=pirate[ships][][booty]></li>

  <li>Ship Name: <input type="text" id="ship_name_2" name="pirate[ships][][name]"></li>
  <li>Ship Type: <input type="text" id="ship_type_2" name=pirate[ships][][type]></li>
  <li>Ship Booty: <input type="text" id="ship_booty_2" name=pirate[ships][][booty]></li>

  <input type="submit" value="Submit">
</form>

